<%= turbo_stream.remove dom_id(@notification) %>
<%= turbo_stream.update "notification_badge" do %>
  <% if @unread_count > 0 %>
    <span class="absolute -top-0.5 -right-0.5 flex h-4 min-w-[1rem] items-center justify-center rounded-full bg-red-500 px-1 text-[10px] font-bold text-white leading-none"
          aria-label="<%= t('notifications.in_app.dropdown.title') %>: <%= @unread_count %>">
      <%= @unread_count > 9 ? "9+" : @unread_count %>
    </span>
  <% end %>
<% end %>
