<div class="space-y-6">
  <%= render "application/shared/page_header", title: t("platform.spaces.edit.title"), subtitle: t("platform.spaces.edit.subtitle") %>

  <%= render layout: "application/shared/card" do %>
    <%= form_with model: [:platform, @space], class: "space-y-4" do |form| %>
      <%= render "application/shared/error_messages", resource: @space %>

      <div>
        <%= form.label :name, t("platform.spaces.edit.name_label"), class: form_label_classes %>
        <%= form.text_field :name, required: true, class: form_input_classes %>
      </div>

      <div>
        <%= form.label :timezone, t("platform.spaces.edit.timezone_label"), class: form_label_classes %>
        <%= form.text_field :timezone, class: form_input_classes %>
      </div>

      <div class="flex flex-wrap gap-3">
        <%= form.submit t("platform.spaces.edit.submit"), class: button_classes(:primary) %>
        <%= link_to t("platform.spaces.edit.back"), platform_space_path(@space), class: button_classes(:secondary) %>
        <%= link_to t("platform.spaces.edit.all_spaces"), platform_spaces_path, class: button_classes(:secondary) %>
      </div>
    <% end %>
  <% end %>
</div>
